body {
    font-family: 'Atkinson Hyperlegible';
    font-size: 14px;
    background-color: #FFFFF0;
}

.btn-primary {
    background-color: blueviolet;
    border-color: blueviolet;
}

.btn-secondary {
    background-color: #121212;
    border-color: #121212;
}

.flex-container-space-between {
    display: flex;
    justify-content: space-between;
    align-content: center;

}

.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#title {
    padding: 5px;
}

#login-jumbotron {
    overflow: hidden;
    display: table;
    align-items: center;
    background-color: #4F14A0;
    border-radius: 15px;
    width: 55%;
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
}

#register-jumbotron {
    overflow: hidden;
    display: table;
    align-items: center;
    background-color: #4F14A0;
    border-radius: 15px;
    width: 60%;
    position: absolute;
    /* Lo pone en el centro*/
    top: 20%;
    bottom: 10%;
    left: 20%;
    right: 20%;
}

#login-title {
    padding: 60px;
}

#register-title {
    float: center;
    padding-top: 30%;
    padding-left: 70px;
    padding-right: 50%;
    width: 120%;
    text-align: left;
}

#register-body {
    padding-top: 30%;
    padding: 110px;
    padding-bottom: 10%;
    width: 550px;
}

#login-form {
    padding: 60px;
    width: 120%;
}

#register-line {
    padding-top: 10%;
}

#login-button {
    border-radius: 40px;
    background-color: #4F14A0;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-width: 2px;
}

#arrow-button {
    color: #FFFFFF;
    font-size: 35px;
    padding: 5px;
}

#login-control {
    padding: 10px;
}

#register-control {
    padding: 10px;
}

#login-button {
    width: 80%;
    margin: auto;
    text-align: center;
}

#login-alert {
    border-radius: 5px;
    background-color: #9F0808;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-width: 2px;
}

#label-register {

    color: #FFFFFF
}

#login-alert-success {
    border-radius: 5px;
    background-color: #2b8340;
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-width: 2px;
}